body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  }
  body > header {
  background-color: #c6c7bf;
  padding: 1vh 1vw;
  height: 10vh;
  box-sizing: border-box;
  color: #fff;
  }
  body > main {
  height: 85vh;
  }
  body > footer {
  height: 5vh;
  background-color: #fcf9f9;
  }
  h1.app-title {
  font-size: 20px;
  }
  section.main-feature {
  float: left;
  /*background-color: #ca9f9f;*/
  width: 80vw;
  height: 85vh;
  }
 